@import '../../variables';

:host {
  @apply h-screen w-[300px] p-[50px];
  background-color: var(--color-grey-200);
}

button {
  @apply px-[10px] py-[5px];
  @apply w-full text-left;
  border-radius: $border-radius;

  &:hover {
    background-color: var(--color-grey-300);
  }

  &.selected {
    background-color: var(--color-grey-300);
  }
}