<div class="w-[500px]">
    <div class="flex gap-x-[5px]">
        <input id="dark-mode" type="checkbox" [(ngModel)]="darkMode" (change)="onDarkModeChange()">
        <label for="dark-mode">Dark mode</label>
    </div>

    <p>{{user.email}}</p>
    <h1>Inbox</h1>

    <app-add-task></app-add-task>

    <ul class="tasks">
        <li *ngFor="let task of tasks.slice().reverse()">
            <app-task [task]="task" [currentTask]="selectedTask" (selectedTask)="onSelect($event)"
                [class.selected]="task === selectedTask"></app-task>
        </li>
    </ul>
</div>