@import './../../variables';

:host {
  @apply flex gap-[5px];
  border-radius: $border-radius;

  &:hover {
    @apply pl-[5px];
    background-color: var(--color-primary-light);
  }

  &.selected {
    @apply pl-[5px] pb-[5px] pr-[5px];
    background-color: var(--color-primary-light);
  }
}

.checkbox {
  @apply mt-[5px];
}

.div-task {
  @apply w-full;
}

.name {
  all: unset;
  @apply block w-full;

  &.completed {
    text-decoration: line-through;
  }
}

.description {
  @apply block p-0 w-full;
  background: none;
  color: var(--color-placeholder);
  resize: none;

  &.completed {
    text-decoration: line-through;
  }
}