@import './../../variables';

:host {
  @apply p-[0px] flex gap-[5px];
  border-radius: $border-radius;

  &:hover {
    @apply pl-[5px];
    background-color:$color-primary-light;
  }

  &.selected {
    @apply pl-[5px];
    background-color: $color-primary;
  }
}

.name.completed {
  text-decoration: line-through;
}