@import './../../variables';

:host {
  @apply p-[5px] flex gap-[5px];

  &:hover {
    @apply pl-[10px];
    background-color:$color-primary-light;
  }
}

:host.selected {
  background-color: $color-primary;
}

.task-name.completed, .task-description.completed {
  text-decoration: line-through;
}

.task.name, .task-description {
  @apply my-[-5px];
}

.task-description {
 color: grey;
}