<div class="signup">
    <div class="content">
        <h1>Sign up</h1>

        <form [formGroup]="form" (submit)="signUp()">
            <input type="text" placeholder="Name" formControlName="name">
            <input type="text" placeholder="Email" formControlName="email">
            <input type="password" placeholder="Password" formControlName="password">
            <input type="password" placeholder="Confirm" formControlName="passwordConfirm">
            <app-button-full [type]="'submit'" [disabled]="form.invalid">Sign up</app-button-full>
        </form>

        <p>Have an account? <a [routerLink]="['/login']">Sign In</a></p>
    </div>
</div>