// COLOR BASIC
$color-bg: #FCE9F1;
$color-bg-dark: #F1D4E5;

$color-primary-light: #D5EBEF;
$color-primary: #73BBC9;
$color-primary-dark: #73BBC9;

$color-black: #080202;

// COLOR ADVANCE
$color-placeholder: grey;

// BUTTON SETTINGS
$btn-line-width: 1px;
$btn-py: 0px;  // default: 15px
$btn-px: 5px;  // default: 30px
$field-py: 1px;    // default: 20px
$field-px: 5px;    // default: 25px

// Settings
$border-radius: 5px;