:root {
  // COLOR BASIC
  --color-bg: #ffffff;
  --color-bg-dark: #eee;
  
  --color-primary-light: #deecfa;   // +12
  --color-primary: #86b9ec;         // +6
  --color-primary-dark: #2e86de;    // 0
  
  --color-black: #3d3d3d;

  // COLOR ADVANCE
  --color-placeholder: grey;
}

[data-theme='dark'] {
  // COLOR BASIC
  --color-bg: #1e1e1e;
  --color-bg-dark: #343434;
  
  --color-primary-light: #86b9ec;
  --color-primary: #2e86de;
  --color-primary-dark: #2e86de;
  
  --color-black: white;

  // COLOR ADVANCE
  --color-placeholder: #E6DDC4;
}

// BUTTON SETTINGS
$btn-line-width: 1px;
$btn-py: 0px;  // default: 15px
$btn-px: 5px;  // default: 30px
$field-py: 1px;    // default: 20px
$field-px: 5px;    // default: 25px

// Settings
$border-radius: 5px;