@import '../../../variables';

.btn-base {
  padding: $btn-py $btn-px;
  border-radius: $border-radius;

  &:hover {
    background-color: var(--color-primary-dark);
  }
}

.btn-base:disabled {
  opacity: 0.5;
}
  
.btn-full {
  border: $btn-line-width solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-bg);

  &:hover {
    border: $btn-line-width solid var(--color-primary-dark);
  }
}
  
.btn-ghost {
  border: $btn-line-width solid var(--color-primary);
  color: var(--color-primary);

  &:hover {
    border: $btn-line-width solid var(--color-primary-dark);
    color: var(--color-bg);
  }
}